{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block styles %}
            {% bootstrap_css %}
        {% endblock %}
        {% bootstrap_messages %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body style="font-family: 'Pacifico', cursive;">
        {% block scripts %}
            {% bootstrap_javascript jquery='full' %}
            <script>
            function myFunction() {
                /* Get the text field */
                var copyText = document.getElementById("link");

                /* Select the text field */
                copyText.select();

                /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                alert("Copied the text: " + copyText.value);
            }
            </script>
        {% endblock %}

        {% include 'navbar.html' %}

        {% block content %}

        {% endblock %}
    </body>
</html>