{% load bootstrap4 %}
<!DOCTYPE html>
<html>
    <head>
        {% block styles %}
            {% bootstrap_css %}
        {% endblock %}
        {% bootstrap_messages %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    </head>
    <body style="font-family: 'Pacifico', cursive;">
        {% block scripts %}
            {% bootstrap_javascript jquery='full' %}
        {% endblock %}

        {% include 'navbar.html' %}

        {% block content %}

        {% endblock %}
    </body>
</html>