{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Welcome to MyInsta Gallery!</h1>
    <div class="container">
        
            <!-- Images in cards -->
            {% for image in all_images%}
            <div class="row no-gutters">
                <div class="card col-xs-12 col-sm-12 col-md-3 col-lg-3 mx-auto" style="font-family: 'Open Sans', sans-serif;">
                    <a id="link{{image.id}}" href="{% url 'show_image' image.id %}"><img src="{{image.image.url}}" class="card-img-top" alt="127.0.0.1:8000/image/{{image.id}}" style="height: 250px;"></a>
                    <div class="card-body">
                        <p class="card-text">{{image.image_description}}</p>
                        <div class="container">
                            <div class="row">
                                <button type="button" class="btn btn-sm btn-primary col-lg-4 col-sm-4" data-toggle="modal" data-target="#displayModal{{image.id}}">Details</button>
                                <div class="col-lg-4 col-sm-4"></div>
                                <button data-toggle="tooltip" data-placement="top" title="Click to copy link" class="btn btn-sm btn-success col-lg-4 col-sm-4" onclick="myFunction()" data-clipboard-target="#link{{image.id}}">Copy Link</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal goes here -->
                <div class="modal fade" id="displayModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-family: 'Open Sans', sans-serif;">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel">{{image.image_name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="padding:0;">
                                <img src="{{image.image.url}}" class="card-img-top" alt="{{image.image_name}}">
                                <p class="card-text px-2 py-3">{{image.image_description}}</p>
                                <ul class="list-group list-group-flush">
                                    <h5 class="px-2 py-1">Locations</h5>
                                    {% if image %}
                                    <li class="list-group-item">{{image.location_name}}</li>
                                    {% elif image.image_location == insta.Location.None%}
                                    <li class="list-group-item">Location is not set</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal ends here -->
            </div>
        {% endfor %}
        
    </div>
{% endblock %}

<!-- <div class="row">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-12">
                <a id="link{{image.id}}" href="{% url 'show_image' image.id %}"><img src="{{image.image.url}}" class="card-img-top" alt="127.0.0.1:8000/image/{{image.id}}" style="height: 250px;"></a>
            </div>
            <div class="col-md-12">
                <div class="card-body">
                    <p class="card-text">{{image.image_description}}</p>
                    <div class="container">
                        <div class="row">
                            <button type="button" class="btn btn-sm btn-primary col-lg-4 col-sm-4" data-toggle="modal" data-target="#displayModal{{image.id}}">Details</button>
                            <div class="col-lg-4 col-sm-4"></div>
                            <button data-toggle="tooltip" data-placement="top" title="Click to copy link" class="btn btn-sm btn-success col-lg-4 col-sm-4" onclick="myFunction()" data-clipboard-target="#link{{image.id}}">Copy Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->